.win {
	font-size: 500%;
	color:teal;
}

.lose {
	font-size: 500%;
	color:red;
}

#gamestate {
	background-color: aquamarine;
}

#message {
	background-color: LightSteelBlue;
}

#opponent-name {
	color:red;
}

#you-name {
	color:blue;
}

.game {
	background-color: GreenYellow;
}

.card {
	background-color: MediumSpringGreen;
}

.item.game-item {
	background-color: Peru;
}

.game-over.Win {
	background-color: Goldenrod;
}

.game-over.Lose {
	background-color: FireBrick;
}